$redColor: hsl(0, 100%, 74%);
$greenColor: hsl(154, 59%, 51%);
$darkGreenColor: hsl(154, 59%, 40%);
// Accent
$blueColor: hsl(248, 32%, 49%);

// Neutral
$darkBlueColor: hsl(249, 10%, 26%);
$darkBlueBorderColor: hsl(249, 10%, 26%, 0.25);
$grayishBlueColor: hsl(246, 25%, 77%);
$whiteColor: hsl(0, 0%, 100%);
$blackShadowColor: hsl(0, 0%, 0%, 0.16);